#ima1 {margin-left: 37%;
}


#ima1 {width: 25%;}


#ima1 {border-color: gray;
       border-style: double;
       border-width: 9px;
    }       

.part01 {background-color: gray;
}    

.part02 {background-color: black;
}

.part02 {color: white}